@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min +floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

:root {
  --duration: 20s;
  --delay: 20s;
}

html {
  background-color: black;
  animation: shrink var(--duration) var(--delay) linear infinite;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  animation: spin var(--duration) var(--delay) linear infinite;
  transform-style: preserve-3d;
  perspective: 25rem;
}

@mixin setImage($a, $x) {
  --name: float-up-#{$a};
  --duration: calc(20s * #{$a});
  left: #{$x}vw;
  z-index: -1 * $a;
}

img {
  --duration: 40s;
  --name: float-up-1;
  position: absolute;
  top: 0;
  left: 0;
  width: 33vw;
  transform: translateY(200vh);
  animation: var(--name) var(--duration) linear infinite;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;

  @for $i from 1 through 40 {
    &:nth-child(#{$i}) {
      animation-delay: ($i - 1) * -3s;
      @include setImage(randomNum(1, 5), randomNum(-10, 90)) // @include setImage(1, 0)
    }
  }
}

@keyframes float-up-3 {
  from {
    transform: translateY(200vh) translateZ(-50vh);
  }

  to {
    transform: translateY(-200vh) translateZ(-50vh);
  }
}

@keyframes float-up-2 {
  from {
    transform: translateY(150vh) translateZ(-25vh);
  }

  to {
    transform: translateY(-150vh) translateZ(-25vh);
  }
}

@keyframes float-up-1 {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(-100vh);
  }
}

@keyframes spin {

  10%,
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1) translateX(0);
  }

  2.5% {
    transform: scale(0.75) translateX(5%);
  }

  7.5% {
    transform: scale(0.75) translateX(-5%);
  }

  10%,
  100% {
    transform: scale(1);
  }
}


.container-general {
  font-family: 'Belleza', sans-serif;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);


  .card {
    width: 640px;
    height: 400px;
    // position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .outside {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .front {
    height: 100%;
    width: 100%;
    position: absolute;
    // background-color: #ffffff;
  }

  .cake {
    width: 100%;
    position: absolute;
    bottom: 30px;
  }

  .top-layer,
  .middle-layer,
  .bottom-layer {
    height: 80px;
    width: 200px;
    background-repeat: repeat;
    background-size: 60px 100px;
    background-position: 28px 0;
    background-image: linear-gradient(transparent 50px,
        #fedbab 50px,
        #fedbab 60px,
        transparent 60px),
      radial-gradient(circle at 30px 5px, #994c10 30px, #fcbf29 31px);
    border-radius: 10px 10px 0 0;
    position: relative;
    margin: auto;
  }

  .middle-layer {
    transform: scale(0.85);
    top: 6px;
  }

  .top-layer {
    transform: scale(0.7);
    top: 26px;
  }

  .candle {
    height: 45px;
    width: 15px;
    background: repeating-linear-gradient(45deg,
        #fd3018 0,
        #fd3018 5px,
        #ffa89e 5px,
        #ffa89e 10px);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 202px;
  }

  .candle:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #ffa500;
    border-radius: 0 50% 50% 50%;
    bottom: 48px;
    transform: rotate(45deg);
    left: -1px;
  }

  .outside p {
    font-size: 23px;
    text-transform: uppercase;
    // margin-top: 30px;
    text-align: center;
    letter-spacing: 6px;
    color: #000046;
    background-color: azure;
  }
}
