html {
  display: grid;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  background: #000000;
}

.heart {
  z-index: -999;
  position: absolute;
  margin: auto;
  overflow: hidden;
  // width: 100vw;
}
